.info-toast {
    background-color: transparent;
    border: 2px solid #17a2b8;
}

.warning-toast {
    background-color: transparent;
    border: 2px solid #ff6347;
}

.success-toast {
    background-color: transparent;
    border: 2px solid #28a745;
}