.info-toast {
    background-color: #17a2b8;
    color: white;
}

.warning-toast {
    background-color: #ff6347;
    color: white
}

.success-toast {
    background-color: #198754;
    color: white
}