    .breadcrumb-container .breadcrumb-link {
        color: white;
        text-decoration: none;
    }

    .breadcrumb-container .breadcrumb-separator {
        color: white;
    }

    .breadcrumb-container .breadcrumb-link:hover {
        color: white;
    }

    .breadcrumb-container {
        display: flex;
        align-items: center;
    }